<ion-content>
  <div class="content">
    <div class="add-client-card popup">
      <div class="header">EDIT IMAGE</div>
      <form class="content">
        <div class="form-wrapper">
          <div class="center-button" *ngIf="!imageFile">
            <ion-button
              color="primary"
              size="large"
              (click)="clickInput()"
              [ngClass]="{ hide: imageFile }"
              >UPLOAD IMAGE</ion-button
            >
          </div>
          <input type="file" #fileUpload (change)="getImage($event)" class="hide" />
          <image-cropper
            [ngClass]="{ hide: !imageFile }"
            [cropperMinHeight]="imageCropperHeight"
            [imageFile]="imageFile"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="0"
            [onlyScaleDown]="true"
            format="png"
            [autoCrop]="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
            (imageCropped)="imageCropped($event)"
            #cropper
          >
          </image-cropper>
          <div class="editor-btn-wrapper" *ngIf="imageFile">
            <ion-button color="medium" (click)="cropImage()" size="small"
              ><div class="button-color">Crop Image</div></ion-button
            >
            <ion-button color="medium" (click)="rotateLeft()" size="small"
              ><div class="button-color">Rotate Left</div></ion-button
            >
            <ion-button color="medium" (click)="rotateRight()" size="small"
              ><div class="button-color">Rotate Right</div></ion-button
            >
          </div>
        </div>
        <div class="footer-button-wrapper">
          <ion-button
            color="secondary"
            fill="outline"
            class="theme-button cancel"
            (click)="cancelUpdate()"
          >
            Cancel
          </ion-button>
          <ion-button class="theme-button" (click)="cropAndClose()" [disabled]="isLoading">
            Save
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
