<mlc-loading *ngIf="loading" text="Loading" class="content"></mlc-loading>
<ion-content *ngIf="!loading">
  <div class="content">
    <div class="add-client-card popup" style="min-height: auto">
      <div class="header">Assign Client to {{ agent.name }}</div>
      <form
        [formGroup]="assignClientForm"
        class="content"
        style="justify-content: unset; margin-top: 10px"
      >
        <div class="form-wrapper" style="width: 80%; align-self: flex-start">
          <ion-item>
            <ion-label>Select Client</ion-label>
            <ion-select
              [interfaceOptions]="customActionSheetOptions"
              interface="alert"
              placeholder="Select"
              (ionChange)="getSelectedClient($event)"
              formControlName="client"
            >
              <ion-select-option *ngFor="let client of clients" [value]="client.id">
                {{ client.name }} - {{ client.email }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
        <div style="margin-top: 45px; width: 100%; display: flex; justify-content: end">
          <ion-button
            color="secondary"
            fill="outline"
            class="theme-button cancel"
            (click)="close()"
          >
            Cancel
          </ion-button>
          <ion-button
            class="theme-button"
            (click)="assignClient()"
            [disabled]="!assignClientForm.valid"
          >
            OK
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
