@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url(../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url(../assets/fonts/Inter-Thin.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url(../assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/Inter-Black.ttf);
}

:root {
  --font-roboto: 'Roboto';
  --font-inter: 'Inter';

  --ion-font-family: 'Roboto';
}

/* Setting font family for whole application */
* {
  font-family: var(--font-roboto);
}
