.client-list-panel {
  --side-max-width: 280px;
  ion-menu {
    --border: 1px solid var(--ion-color-light);
  }
}

.client-content {
  padding: 14px;
}

.consent {
  margin-top: 40px;
  max-width: 800px;
  & .ttl-lbl {
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    color: var(--mlc-black);
    font-family: var(--font-inter) !important;
  }

  & .table-wrapper {
    margin-top: 16px;
    .name { //name => file
      width: 450px;
    }
    .type { //type => to
      width: 100px;
      padding-left: 7px;
    }
    .sent { //sent => type
      width: 150px;
      padding-left: 7px;
    }
    .status {
      width: 100px;
      padding-left: 20px;
    }
    & .table-header {
      border-bottom: 1px solid #dfe1e5;
      display: flex;
      & .ttl {
        font-weight: 700;
        font-size: 12px;
        line-height: 135%;
        color: var(--mlc-black);
      }
    }
    & .table-content {
      margin-top: 21px;
      & .table-row {
        display: flex;
        align-items: center;
        & .td {
          font-weight: 400;
          font-size: 14px;
          line-height: 135%;
          color: var(--mlc-black);
          &.status {
            color: #a3b0b8;
            text-transform: capitalize;
            &.approved {
              color: var(--ion-color-primary);
            }
          }
        }
        &.actions{

        }
        // ion-button {
        //   font-weight: 400;
        //   font-size: 12px;
        //   line-height: 135%;
        //   margin: 0px;
        //   height: 18px;
        //   text-transform: capitalize;
        //   --box-shadow: none;
        //   --padding-start: 15px;
        //   --padding-end: 15px;
        //   margin-left: 20px;
        // }
      }
    }
    & .consent-desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 135%;
      color: #888888;
      max-width: 640px;
      margin: 0px;
      margin-top: 16px;
    }

    & .line {
      border-bottom: 1px solid #dfe1e5;
      margin: 17px 0px;
    }
  }
}

.sub-row{
  margin-top: 20px;
}
.first-col{
  padding-left: 20px;
}
.send-file-btn{
  display: flex;
  align-content: space-between;
}
.auto-r-margin{
  margin-right: auto;
}
.view-icon{
  opacity: 50%;
  margin-right: 10px;
}
.download-icon{
  opacity: 50%;
}

.status-box {
  width: 100%;
  text-align: center;
  max-width: 800px;
  h3 {
    margin: 40px 0px 0px;
  }
  .pending-title {
    color: #8998a2;
  }
  .cancel-title {
    color: #f45b59;
  }
}
