<ion-content>
  <ion-content>
    <div class="system-down card-container">
      <div class="auth-card">
        <div class="title invalid">Down for Maintenance</div>
        <div class="sub-text">
          Contact your My Life Capsule support representative for assistance.
        </div>
        <div class="btn-wrapper">
          <ion-button
            mode="ios"
            expand="block"
            color="primary"
            type="submit"
            class="auth-button"
            (click)="goBack()"
          >
            Close
          </ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>
