.content {
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 100%;
  margin-top: 0 !important;
  & .add-client-card {
    // box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    padding: 16px;
    width: 100%;
    margin: auto;
    max-width: 481px;
  }
}

.form-wrapper {
  margin-bottom: 25px;
}

ion-content {
  // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.form-item-notes {
  min-height: 50px;
}
